# ===================== 🔐 基础安全 =====================
# Django 根密钥：用于 Session/CSRF/密码哈希等所有加密操作。生产必须替换！
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
SECRET_KEY=Z2tDWijnp7UYE57EL2K3Crl00mEkSW-KHqKhbJmrMjM=
# 项目标识：用于日志字段、监控标签、健康检查返回。建议小写+连字符
PROJECT_NAME=docker-django
DEBUG=true

# ===================== 🌐 访问与安全 =====================
# 本机的ip或域名
HOSTS=10.1.0.90

# ===================== django超级用户 =====================
DJANGO_ADMIN_USER=admin
DJANGO_ADMIN_EMAIL=admin@example.com
DJANGO_ADMIN_PASSWORD=Admin123456

# ===================== 🗄️ 数据库 =====================
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Postgres1234


# ===================== 🚀 缓存与异步任务 =====================
REDIS_PASSWORD=Redis1234

# ===================== 邮件 SMTP 配置 =====================
EMAIL_HOST=smtp.qq.com
EMAIL_PORT=465
EMAIL_PROTOCOL=ssl
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

